<!-- BODY OF APPLICATIONS BEGINS HERE -->
<br>  
<!-- INTRODUCTION BODY --> 
    <div>
        <div class="center">
            <h1>Welcome to your IT Management Portal! <br> Log in to start utilizing the services 
                  to help manage your IT organization.</h1>
        </div>
    </div>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>        
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Asset Management</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Keep track of all assets being utilized and log new assets to enhance the capabilities of your organization.
                    </p>
                </mat-card-content>
                <mat-card-actions class="center">
                    <button mat-raised-button color="primary" routerLink="/listassets">View Assets</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>User Management</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Manage employee information such as email, phone number, username, and organization.
                    </p>
                </mat-card-content>
                <mat-card-actions class="center">
                    <button mat-raised-button color="primary" routerLink="/list-users">View Users</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    

<!-- BODY OF APPLICATIONS BEGINS HERE --
<body>
<br>
    
<-- INTRODUCTION BODY --
    
    <div>
        <div class="text-center">
          <h1>Welcome to your IT Management Portal! Log in to start utilizing the services 
              to help manage your IT organization.</h1>
        </div>
      </div> 
    
<br>
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
      
      -- CARD TILE #1 --
      
      <div class="col">
        <div class="card text-white" style="background-color: #1e5d88;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-clipboard-check-fill card-img-top" viewBox="0 0 16 16" aria-label="License Management">
              <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"/>
              <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z"/>
            </svg>
            <div class="card-body text-center">
              <h5 class="card-title text-center">License Management</h5>
              <p class="card-text text-center">Keep track of all current software licenses and stay on top of soon-to-be expired licenses.</p>
              <a href="#" class="btn btn-success stretched-link">Access Here</a>
            </div>
        </div>
      </div>
    
      -- CARD TILE #2 --
    
      <div class="col">
        <div class="card text-white" style="background-color: #1e5d88;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-pc-display card-img-top" viewBox="0 0 16 16" aria-label="Asset Management">
              <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"/>
            </svg>
            <div class="card-body text-center">
              <h5 class="card-title text-center">Asset Management</h5>
              <p class="card-text text-center">Keep track of all assets being utilized and log new assets to enhance the capabilities of your organization.</p>
              <a href="/listassets" class="btn btn-success stretched-link">Access Here</a>
          </div>
        </div>
      </div>

    </div>
<br>
</body>
    
-- END OF BODY -->
    